<p>
  <label><%= l(:field_bulk_subject_edit_prefix) %></label>
  <%= text_field_tag('issue[subject_prefix]', '') %>
</p>

<p>
  <label><%= l(:field_bulk_subject_edit_suffix) %></label>
  <%= text_field_tag('issue[subject_suffix]', '') %>
</p>
